* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(270deg, rgb(78, 5, 121), rgba(47, 15, 190, 0.61), rgb(226, 141, 115));
    background-size: 600% 600%;
    animation: moverGradiente 50s ease infinite;
}

@keyframes moverGradiente {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



h1 {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 0;
    position: relative;
    top: -80px;
}


h3 {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 0.8;
}

p {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 0.8;
}

input {
    width: 220px;
    height: 30px;
    margin: 1px 0;
    padding: 3px 10px;
    border: none;
    line-height: 1;
    border-radius: 8px;
    outline: none;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

button {
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(42, 3, 16, 0.61));
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    margin: 5px;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

img {
    height: 600px;
}